/youcai_advanced_market/
/back/
/D-id_Streaming_Chatgpt/
/jarvis/
/langchain/
/node_modules/
/openheygen/
/supervised_fine_tune/
/venv/
/test.py
/selenium-screenshot-9.png
/selenium-screenshot-8.png
/selenium-screenshot-6.png
/selenium-screenshot-7.png
/selenium-screenshot-10.png
/selenium-screenshot-12.png
/selenium-screenshot-5.png
/有菜市集方案.docx
/selenium-screenshot-13.png
/selenium-screenshot-11.png
/selenium-screenshot-3.png
/selenium-screenshot-4.png
/selenium-screenshot-2.png
/selenium-screenshot-1.png
/report.html
/package-lock.json
/package.json
/output.xml
/log.html
/fine_tune_with_LoRA.py
/BookParse.py
/book_parse_llama2.py
/5.3
/.env
/ai_assistant/
/D-id_Streaming_Chatgpt/
/jarvis/
/openheygen/
/auto_job_find/my_cover.pdf
*.pyc
.idea/
.vs/

